<div class="page-header">
  <h1>Browse files</h1>
</div>

<div class="jumbotron">

  <div class="table-responsive">

    <span ng-repeat="root in vm.roots track by root.id">

      <h2>Root:&nbsp<a ng-click="vm.rootId = vm.toggleRoot(root.id)">{{root.name}}</a></h2>

      <span ng-repeat="directory in vm.directories">
        <span ng-if="directory.root.id == vm.rootId && directory.root.id == root.id">

          <h3>------------<a ng-click="vm.directoryId = vm.toggleDirectory(directory.id)">{{directory.name}}</a></h3>

          <span ng-repeat="file in vm.files">
            <span ng-if="file.directory.id == vm.directoryId && file.directory.id == directory.id">
              <h4>------------------------{{file.name}}</h4>
            </span>
          </span>

        </span>
      </span>

    </span>
  </div>
</div>
